#Dev dependencies
-r requirements-dev.txt
annotated-types
ansi2html
anyio
appdirs
asttokens
boto3
botocore
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
coloredlogs
colour
comm
contourpy
cryptography
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash_auth
debugpy
decorator
deprecation
distro
docutils
dtreeviz
dynaconf
ecdsa
evidently
exceptiongroup
executing
explainerdashboard
Faker
fastapi
filelock
Flask
Flask-WTF
flask_simplelogin
flatbuffers
fonttools
fsspec
graphviz
h11
httpcore
httptools
httpx
humanfriendly
idna
iniconfig
ipykernel
ipython
iterative-telemetry
itsdangerous
jedi
Jinja2
jmespath
joblib
jupyter-dash
jupyter_client
jupyter_core
kiwisolver
lime
litestar
litestar-htmx
llvmlite
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
msgspec
multidict
multipart
mypy_extensions
nest-asyncio
nltk
numba
numpy==2.2.6
onnxruntime
oyaml
packaging
pandas
parso
patsy
pillow
platformdirs
plotly
pluggy
polyfactory
prompt_toolkit
protobuf
psutil
psycopg2
pure_eval
pyarrow
pyasn1
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyreadline3
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
pyzmq
regex
requests
retrying
rich
rich-click
rsa
s3transfer
scikit-learn
scipy
shap
shellingham
six
slicer
sniffio
SQLAlchemy
stack-data
starlette
statsmodels
sympy
tenacity
threadpoolctl
tomli
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uuid6
uvicorn
waitress
watchdog
watchfiles
wcwidth
websockets
Werkzeug
WTForms
